.natural-card {
    margin: auto;
    max-width: 600px;
    max-height: 800px;

    p {
        margin-top: 2%;
        margin-bottom: 2.5%;
        border: 2px solid black;
        text-align: start;
    }
}

.image-group {
    margin: 1% !important;
}


.dropdown {
    margin: 2%;
}


/* .natural-gallery {

} */